.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board{
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.square{
  margin: -1px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: #2a4f97;
  border-style: solid;
  border-width: 1px;
  align-items: center;
}
